*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MexiFont";
  src: url('./assets/fonts/MexiFont.ttf');
}

:root {
  font-size: 62.5%;

  --header-bg:	#f991219c;
  --main-bg: 	#0c08005d;
  --text-color: #ee1111;
}

body {
  background: #FFFFFF url("./assets/images/BgImg.jpg") no-repeat right top fixed;
  background-size: cover;
}

header {
  position: fixed;
}

.header {
  background-color: var(--header-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5rem;
  padding: 1rem;
  width: 100%;
}

header h1 {
  font-family: 'MexiFont';
  margin-bottom: 1rem;
}

button {
  border-style: none;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

.button-nav {
  padding: 2rem;
  font-size: 3rem;
  background-color: transparent;
}

.button-nav:hover {
  transform: scale(1.1);
}

.button-nav:active {
  transform: scale(0.9);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.main {
  min-width: 600px;
  min-height: 600px;
  overflow-y: auto;
  line-height: 6rem;
  padding: 2rem;
  border-radius: 15px;
  margin: 30rem 0;
  font-family: 'MexiFont';
  color: var(--text-color);
  font-size: 3.5rem;
  background-color: var(--main-bg);
}
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: fadeIn 1.5s;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: 2rem;
}

.menu-item p {
  font-size: 2.5rem;
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 525px;
  width: 618px;
  animation: fadeIn 1.5s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
}

img{
  background-color: var(--header-bg);
  border-radius: 15px;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
